{% extends "base.html" %}
{% block content %}
<div class="container taustabox">
    <h1>{{treeni.name}}</h1>
    <!-- Painikkeet tähän -->
    <p>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
    </p>
    <!-- Tiedot tulee listana tähän -->
    <ul>
        <li><strong>Soveltuvuus:</strong> {{treeni.soveltuvuus}}</li>
        <li><strong>Kesto:</strong> {{treeni.kesto}}</li>

    </ul>
    <!-- Kuvaus tulee tähän -->


    <table>
        {% for treeni in treenit %}
        <tr>

        <button class="btn btn-default"><a href="{{base_path}}/treeni/{{treeni.id}}">{{treeni.name}}</button>
        <td><a href="{{base_path}}/treeni/{{treeni.id}}">{{treeni.name}}</td>
        <td>{{treeni.kuvaus}}</td>


        </tr>
        {% endfor %}

    </table>


</div>
{% endblock %}