{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
<div class="container taustabox">
    <h1><span>{{treeni.name}} <a href="{{base_path}}/treeni/{{treeni.id}}/edit" class="btn btn-link ">Muokkaa</a> </span></h1>
    <!-- Painikkeet tähän -->
    <p>

    </p>
    <ul>
        <li><strong>Soveltuvuus:</strong> 
            {% for a in soveltuvuus %}

            {{a}} 


            {% endfor %}
        </li>
        <li><strong>Kesto:</strong> {{treeni.kesto}}</li>
        <li><strong>Kuvaus:</strong> {{treeni.kuvaus}}</li>

    </ul>
    <!-- Kuvaus tulee tähän -->

    <h4>Treenin voimalajit: </h4>
    <h4> </h4> 
    <table>
        {% for voimalaji in voimalajit %}
        <tr>

        <button class="btn btn-default"><a name="voimalajit" href="{{base_path}}/voimalaji/{{voimalaji.id}}">{{voimalaji.name}}</button>

        <p> </p>

        </tr>
        {% endfor %}

    </table>


</div>
{% endblock %}