{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
<div class="container taustabox">

    <h1><span>Treenit:  <a href="{{base_path}}/treeni/new" class="btn btn-link btn-lg">Lisää uusi treeni</a></span></h1>
     
    <h1> </h1> 
    <table>
        {% for treeni in treenit %}
        <tr>
            
        <button class="btn btn-default"><a href="{{base_path}}/treeni/{{treeni.id}}">{{treeni.name}}</button>
        
        <p> </p>

        </tr>
        {% endfor %}

    </table>
   
    
</div>
{% endblock %}
