{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
<div class="container taustabox">  
   
    <h1> <span>{{voimalaji.name}}
    <a href="{{base_path}}/voimalaji/{{voimalaji.id}}/edit" class="btn btn-link" >Muokkaa</a> 
    </span></h1>
    
    
    <p style="font-size:110%;">
        <br>
        {{voimalaji.kuvaus}}
    </p>
    <br>
    Voimalajiin liittyvät treenit: 
    <h4> </h4> 
    <table>
        {% for treeni in treenit %}
        <tr>

        <button class="btn btn-default"><a href="{{base_path}}/treeni/{{treeni.id}}">{{treeni.name}}</button>
        <br>
        <p> </p>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}