
{% extends "base.html" %}
{% block content %}
<div class="container etusivu">
    <div class="row">
        <div class="jumbotron text-center" >


            <div class="elsa" >
                <h1 class="hidden-xs">FYSIIKKATREENIT</h1>
                <h4 class="hidden-sm hidden-md hidden-lg">FYSIIKKATREENIT</h4>
            </div>
        </div>
    </div>
    <div>
        <h1>  </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="login" class="btn btn-default" role="button">Kirjaudu</a>
            <a href="rekisterointi" class="btn btn-danger" role="button">Rekisteröidy</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h4>Fysiikkatreenisovellus kilpacheerleadingiin.</h4>
        </div>
    </div>
</div>

{% endblock %}
