{% extends "base.html" %}
{% block content %}
  <h1>Ojentajapunnerrus</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Soveltuvuus:</strong> Juniorit</li>
    
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
   Kyynerpäät lähellä kylkiä, vartalon linja suorassa, käynti alhalla kyynerpäät 90-asteen kulmaan ja nousu ylös.
  </p>
  <p>
   Liikkeeseen liittyvät treenit: 
  </p>
  <p>
      <a href="treeni" class="btn btn-default" role="button">Crossfit</a>
  </p>
{% endblock %}