{% extends "base.html" %}
{% block content %}
  <h1>Crossfit</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Soveltuvuus:</strong> Juniorit</li>
    <li><strong>Kesto:</strong> 60min</li>
    
    <li><strong>Lisäyspäivä:</strong> 9.12.2016</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
   Nopealla sykkeellä suoritettavaa treeniä. 
   Juokse 2 min 50 metrin matkaa, tee oheiset liikkeet jokaisen 50 metrin jälkeen vuorotellen. Aloita liikkeissä uusi kierros, jatka tätä niin kauan kunnes 2 min tulee täyteen.
  </p>
  <p>
      <button class="btn btn-default">Kerähyppy</button>
  </p>
  <p> 
      <button class="btn btn-default">Ojentajapunnerrus</button>
  </p>
  <p> 
      <button class="btn btn-default">Liike3</button>
  </p>
{% endblock %}