{% extends "base.html" %}
{% block content %}
<div class="container taustabox">  
    <h1>Kestovoima</h1>
    <!-- Painikkeet tähän -->
    <p>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
    </p>
    <!-- Tiedot tulee listana tähän -->
    <ul>
        <li><strong>Soveltuvuus:</strong> Juniorit</li>

    </ul>


    <table>
        {% for voimalaji in voimalajit %}
        <tr>

        <button class="btn btn-default"><a href="{{base_path}}/voimalaji/{{voimalaji.id}}">{{voimalaji.name}}</button>
        <td><a href="{{base_path}}/voimalaji/{{voimalaji.id}}">{{voimalaji.name}}</td>
        <td>{{voimalaji.kuvaus}}</td>


        </tr>
        {% endfor %}

    </table>

    <p>
        Kuvaus
    </p>
    <p>
        Voimalajiin liittyvät treenit: 
    </p>
    <p>
        <a href="{{treeni.id}}" class="btn btn-default" role="button">{{treeni.name}}</a>
    </p>
</div>
{% endblock %}