{% extends "base.html" %}
{% block content %}
<div class="container taustabox">  
    <h1>Nopeusvoima</h1>
    <!-- Painikkeet tähän -->
    <p>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a> <a href="treeni/new" class="btn btn-default">Lisää</a>
    </p>
    <!-- Tiedot tulee listana tähän -->
    <ul>
        <li><strong>Soveltuvuus:</strong> Juniorit</li>

    </ul>
    <!-- Kuvaus tulee tähän -->
    <p>
        Kuvaus
    </p>
    <p>
        Voimalajiin liittyvät treenit: 
    </p>
    <p>
        <a href="treeni" class="btn btn-default" role="button">Crossfit</a>
    </p>
</div>
{% endblock %}