{% extends "base.html" %}
{% block content %}

    <h1 class="login-text">Kirjaudu sisään</h1>

        {% if error %}
        <p style="color:red">{{error}}</p>
        {% endif %}
    
        <div class ="col-md-3 login-box">
            <!-- Kaikki lomakkeen elementit form-tagin sisään -->
            <form method="post" action="{{base_path}}/login">
                <!-- Tekstikenttä käyttäjätunnukselle -->

                <div class="form-group">
                    <label>Käyttäjätunnus</label>
                    <input type="text" class="form-control" name="name" value="{{name}}">
                </div>

                <!-- Salasanakenttä salasanalle -->
                <div class="form-group">
                    <label>Salasana</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
            </form>
        </div>
    

{% endblock %}
